<mat-card>
    <mat-card-header>
        <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
        <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
      <img [src]="product.image">
    </div>
    <mat-card-content>
      {{ product.description }}
    </mat-card-content>
    <mat-card-actions align="start">
      <button (click)="addCart()" mat-raised-button color="primary">Agregar al carrito</button>
    </mat-card-actions>
</mat-card>

<!-- <p>product works!</p>
<h1 appHighlight>{{product.title | uppercase }}</h1>
<div >
    <img [src]="product.image" alt="">
</div>
<strong>{{product.price | currency}}</strong>
{{ date | date:short }}
<p>{{ product.description | slice:0:10 }}</p>
<button (click)="addCart()" mat-raised-button-color="primary">Agregar al carrito</button>
<br><br> -->
