:host {
    margin: 2px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
}
  
img {
    max-width: 100%;
    padding-left: 13%;
}
  
.crop-image {
    display: block;
    height: 300px;
    width: 100%;
}
  
img {
    object-fit: contain;
    height: 100%;
    width: 70%;
    object-position: center;
}
.crop-image{
    display: block;
    height: 300px;
    width: 100%;

}
img{
    object-fit: contain;
    height: 100%;
    width: 70%;
    object-position: center;
}